header{
    background-color:rgb(251, 255, 0);
    margin-bottom: 2rem;
}

.ceo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title, .subtitle {
    text-align: center;
}

.title{
    margin:auto;
    font-weight: bold;
    font-size: 5rem;
}

.container-icon{
    margin-right: 2rem;
}